<br/>
<br/>
<style type="text/css">
  body {
    background-color: DarkTurquoise;
}

h1 {
    color: white;
}

p {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 20px;
}
</style>
  <div class="container">
    <center><h1>Tienda la chapita</h1>
    <p class="lead" style="color: white">Aca podras registrarte para cuando vuelvas a llamar ya tengamos tu información y el proceso sea más fácil.</p>  
      <form>
       <label >Nombre Completo</label><br>
       <input type="text" name="Nombre"><br>
       <label>Telefono</label><br>
       <input type="text" name="Telefono"><br>
       <label>Barrio</label><br>
       <input type="text" name="Barrio"><br>
       <label>Direccion</label><br>
       <input type="text" name="Direccion"><br>
       <label>e-mail</label><br>
       <input type="text" name="email"><br><br>
       <input type="submit" value="enviar">
      </form>
    </center>
  </div>
