<style type="text/css">
    body {
     background-color: DarkTurquoise;
    }

    h1 {
      color: white;
    }

    p {
       font-family: "Times New Roman", Georgia, Serif;
       font-size: 20px;
    }
</style>
<h1>Gracias por registrarse no olvide llamar al 3570350, para que podamos tomar su pedido.</h1>
<center>
  <form action="/user/new" method="POST" accept-charset="utf-8" >
   <input type="submit" value="volver al Registro" class="btn btn-default">
  </form>
</center>