<br/>
<br/>
  <div class="container">
    <center><h1>Tienda la chapita</h1>
    <p class="lead" style="color: white">Aca podras registrarte para cuando vuelvas a llamar ya tengamos tu información y el proceso sea más fácil.</p>  
      <form action="/user/create" method="POST" accept-charset="utf-8" class="form-gracias">
       <label >Nombre Completo</label><br>
       <input type="text" name="Nombre"  required><br>
       <label>Telefono</label><br>
       <input type="text" name="Telefono"  required><br>
       <label>Barrio</label><br>
       <input type="text" name="Barrio"  required><br>
       <label>Direccion</label><br>
       <input type="text" name="Direccion" required><br>
       <label>e-mail</label><br>
       <input type="email" name="email" required><br><br>
       <input type="submit" value="enviar" class="btn btn-default">
      </form>
    </center>
  </div>